body {
    margin: 0;
    padding: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
    width: 100%;
    height: 10vh;

    position: fixed;

    display: flex;
    align-items: center;

    background-color: #78290f;
}

nav a {
    text-decoration: none;
}

a.navlink {  
    font-size: 1.8em;
    height: 100%; /* Keeps the border at 100% height */

    display: inline-flex; /* Enables alignment within the height */
    align-items: center; /* Centers the text vertically */
    
    float: left;

    padding: 0 1vw;
    border-right: 3px solid #ff7d00;

    background-color: #78290f;
    transition: .3s;

    color: #ffecd1;
}

a.navlink:hover {
    cursor: pointer;
    background-color: #581f0c;
    transition: .3s;
}

a.icon {
    margin: 0 1vw 0 auto;
    float: right;

    display: inline-flex; /* Enables alignment within the height */
    align-items: center; /* Centers the text vertically */

    color: red;
    font-size: 3em;
}

div.welcome {
    background-color: #f4a261;

    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #3a1408;
}

div.welcome img {
    border-radius: 50%;
    border: 2px solid #3a1408;
}

div.welcome h1 {
    color: #ffecd1;
    -webkit-text-stroke: 1px #3a1408;

    width: 20%;
    font-size: 1.5em;

    text-align: center;
}

/* Showcase Section */

div.showcase {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;

    column-gap: 5vw;
    padding: 3vw;
}

div.item {
    position: relative; /* Establish positioning context for child elements */
    overflow: hidden; /* Ensure child elements do not overflow the container */
}

div.item .overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.4s ease; /* Smooth fade-in effect */
    z-index: 1; /* Ensure the overlay is above the image */
}

div.item img {
    display: block;
    width: 100%;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

div.item h1 {
    color: white;
    text-decoration: none;
    pointer-events: none; /* Ensure the header doesn't block clicks on the link */

    position: absolute; /* Position relative to .item */
    text-align: center;  
    top: 50%; /* Move to the vertical center */
    left: 50%; /* Move to the horizontal center */
    transform: translate(-50%, -50%); /* Adjust for element's own dimensions */

    margin: 0; /* Reset any default margins */
    font-size: 2rem;

    z-index: 2;
    opacity: 0;
    transition: opacity 0.4s ease;
}

div.item:hover img {
    transform: scale(1.1);
    opacity: 0.7; /* Dim the image */
}

div.item:hover .overlay {
    opacity: 1; /* Show the overlay */
}

div.item:hover h1 {
    opacity: 1; /* Show the text */
}
